:root {
  --sea-color: #14dcc4;
  --beach-color: #f4bd70;
  --cranberry-color: #a30505;
  --dark-sea-color: #09657b;
  --dark-sea-color-transparent: #09647b83;
  --middle-sea-color: #3e717c;
  --light-sea-color: #5ba0aa;
  --extralight-sea-color: #9ccccc;
}

* {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--extralight-sea-color);
}
